body {
  margin: 0;
  font-family: Arial;
  background: #e4d1ff;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.search-bar input,
.card input,
.card textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

.note {
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.menu button {
  display: block;
  margin-bottom: 4px;
}

.add-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 12px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
}

.success {
  background: #5cb85c;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
}

/* Desktop */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
